<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore role:require="Standalone or ContentDelivery or ContentManagement">
		<settings>
			<setting name="connect:Domain" value="fenil.local" />
			<setting name="connect:ClientId" value="23423x2c424gv34tr34r23r23423423423" />
			<setting name="connect:ClientSecret" value="asdq3q343423423423423423=" />
			<setting name="connect:RedirectUri" value="https://fenil.dev.local/test-callback" />
			<setting name="connect:PostLogoutRedirectUri" value="https://fenil.dev.local/" />
			
		</settings>
	</sitecore>
</configuration>